<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <div>账户：<%=unanme%></div>
    <div>密码：<%=upwd%></div>
    <div>
        <% data.forEach(function(item,index){%>
            <span>ID:<%= item.id%></span>
            <span>name:<%=item.name%></span>
            <span>age:<%=item.age%></span>
            <br/>
        <% })%>
    </div>  
</body>
</html>